/* General Default Style */
*{
    margin:0;
    padding:0;
    /* outline: none;
     border: 0 none; */
    box-sizing: border-box;
}
body{
    background: #ffffff;
    color: #000000;
    font-weight: 300;
    font-size: 13px;
    overflow-x: hidden;
    width:  100%;
    margin: 0 auto;
}
#container {
    width: 1170px;
    margin: auto;
}
header{
    height: 220px;
    background-color: #000000;
    display: block;
}

#favorite-icon{
    width: 18px;
    height: 18px;
    clear: both;
}

#add-product-icon{
    width: 22px;
    height: 22px;
    margin-top: 5px;
    clear: both;
}
footer{
    height: 70px;
    background-color: #000000;
    color: white;
}
a{
    color: inherit;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
a:link,a:visited {
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color: #e1e1e1;
}
a img{
    border: none;
}
ul{
    list-style-type: none;
}
#logo{
    font-size: 7em;
    font-weight: 100;
    background-color: transparent;
    margin-top: 25px;
    position: absolute;
}
#logo:hover{
    background-color: transparent;
}

#navigation-products{
    background-color: rgba(49, 49, 49, 0.67);

}
#navigation-products a{
    background-color: transparent;

}



/* Search */

#search{
    z-index: 100;
    position: absolute;
    width: inherit;
    margin: auto;
}

#search-bar{
    width: inherit;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 13px;
    background-color: white;
    background-image: url("https://www.shareicon.net/data/512x512/2015/10/03/110917_search_512x512.png");
    background-size: 45px;
    background-position: right;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search-suggestions{
    height: auto;
    width: inherit;
    background-color: rgba(255, 255, 255, 0.95);
    padding:15px;
    border: 1px solid lightgray;

}
#search-suggestions ul{

    margin-top: 0;
}

#search-suggestions ul li{
    padding:15px 0;
    list-style: none;
}

#search-suggestions ul li a{
    text-decoration: none;
    color: dimgrey;
}


.clear{
    clear: both;
}

.left{
    float: left;
}
.right{
    float: right;
}
.hide{
    display: none;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.center{
    text-align: center;
}

.bottom-30{
    margin-bottom: 30px;
}

.top-30{
    margin-top: 30px;
}
.aside-5{
    padding: 0 15px;
}

.inline_black{
    display: inline-block; !important;
}

.border{
    border:1px solid #cccccc;
    background-color: #f7f7f7;
}
.width_auto{
    width: auto;
}
.products_page{
    background-color: #ffffff;
    min-height: 400px;
    width: 100%;
    display: inline-block;
    float:right;

}
.shown_products{
    width:18%;

    min-height: 380px;
    display: inline-block;
    float: left;
    margin: 1%;
}
.shown_products:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.51);
    border-left: 1px solid rgba(42, 42, 42, 0.51);
}
.show_products{
    margin: 5px 2px ;
}
.product_img{
    width: 90%;
    text-align: center;
    margin: 5px;
    min-height: 180px ;
}
.product_img img{
    width: 100%;
}
.product_name{
    text-align: center;
    color: #ff000a;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.51);

}
.product_type{
    text-align: center;
}

.product_size{
    width: 100%;
}
.sizes{
    text-align: center;
}
.price{
    text-align: center;
}
.buttons{
    text-align: center;
    background: #575757;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.51);

}
.buttons:hover{
    background: #ff000a;


}

.icon_img{
    height: 100px;
    width: auto;


}

.clear_link:link{
    text-decoration: none;
    background-color: transparent;
    color: black;
    padding: 0;
    margin: 0;

}

table tr td{
    border: 1px solid black;
}

.black {
    background-color: black;
}

.error{
    color: #db768d;
}

.message{
    color: cornflowerblue;
}
.line-trough{
    text-decoration: line-through;
    color: #9d9d9d;
}
.price{
    color: #ff000a;
}

#show_product{
    text-decoration: none;
    background-color: transparent;
    color: black;
    padding: 0;
    margin: 0;

}
.product_info{
    width: 80%;
    margin: auto;
    min-height: 500px;

}
.img {
    display: inline-block;
    float: left;
    width: 45%;
}
.img img{
    width: 100%;
}
.name {
    text-align: center;
    font-size: 3em;
    color: #ff000a;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.51);

}
.info {
    font-size: 1.5em;
    text-align: center;

}

.prices{
    color: #ff000a;
    text-align: center;
    font-size:  1.5em;


}

.search_page{
    background-color: #ffffff;
    min-height: 400px;
    width: 80%;
    display: inline-block;
    float:right;
}
.shown_searched_products{
    width:23%;

    min-height: 400px;
    display: inline-block;
    float: left;
    margin: 1%;
}
.shown_searched_products:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.51);
    border-left: 1px solid rgba(42, 42, 42, 0.51);
}

.info_block {
    width: 50%;
    display: inline-block;
    float: right;
}

.div_buttons{
    text-align: center;
}
.page_title{
    text-align: center;
}




.form-page {
    width: 360px;
    padding: 2% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input, .form select {
    font-family:  sans-serif;
    outline: 0;
    background: #f9f8f9;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1em;
}
.form .button {
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #dbdadb;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #505050;
    font-size: 1em;
    cursor: pointer;
}
.form .button:hover{
    background: rgba(255, 0, 12, 0.71);
    color: #000000;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 1em;
}
.form .message a {
    background-color: white;
    color: #ff000c;
    text-decoration: none;
    font-size: 1.2em;
}

